.NP{
    height: 229px;
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.PersonalStatement{
    background-color: #7BB377;
    border-radius: 6px;
    padding: 10px 10px 10px 20px;
}

.Skills{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 50px 20px;
    margin-top: 40px;
    background-color: #e4d9be;
    border-radius: 8px;
}

.SkillsIMG{
    margin-top: 40px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
}

.Logo{
    height: 150px;
}

@media screen and (max-width: 800px) {
    .Logo{ height: 100px;}
}

.half{
    display: flex;
    gap: 15px;
}

.vert{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: baseline;
}

@media screen and (max-width:800px) {
    .half { flex-direction: column;
    align-items: center;
    }
  }

  @media screen and (max-width:800px) {
    .Skills {width: 100%;
    padding: 10px;
    padding-left: 30px;
    }
    .vert {
        width: 100%;
        margin: auto;
        }

  }


  @media screen and (max-width:800px) {
    #Skill {
    margin: 0px;
    margin-top: 30px;
    padding: 15px 60px;
    margin-bottom: -30px;
    
    }
  }

  @media screen and (max-width:1100px) {
    #d{
        width: 100%;
        margin: auto;
        text-align: center;
        justify-content: center;
    }
  }

  @media screen and (max-width:1000px) {
    .NP {font-size: 7vh;
        width: 100%;
    }
    .d{width: 100%;
    margin: auto;}
  }


  @media screen and (max-width:800px) {
    .a {font-size: 7vh;}
    #b {font-size: 8vh;}
    #c { font-size: 8vh;}
    .Esc {margin-top: 40px;}
  }

.Intrest{
    height: auto;
    border-radius: 8px;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    background-color: #c497dc;
}

.Project{
    padding: 20px 40px;
    height: 5vw;
    text-align: center;
    margin-right: 20px;
    font-size: 4vw;
    background-color: #7BB377;
    border-radius: 5px;
}

.Back{
    border-radius: 5px;
    padding: 20px 40px;
    height: 5vw;
    font-size: 4vw;
    background-color: #7BB377;
    text-align: center;
}

.Esc{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.Links{
    margin-bottom: 100px;
    margin-top: 50px;
    padding: 10px 50px;
    font-size: 2vw;
    background-color: #9897dc;
    border-radius: 10px;
}

.LinksFlex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.Lin{
    color: #106a28;
}

@media screen and (max-width:800px) {
    .Links {font-size: 3vh;}
}