:root{
    padding: 0px;
    margin: 0px;

}

.Acont{
    width: 100%;
    height: 100vh;
    display: flex;
}

@media screen and (max-width:600px) {
    .Acont { flex-direction: column; }
  }

.Bcont{
    background-color: #FFF5DD;
    width: 65%;
    display: flex;
    flex-direction: column;
}

.BE{
    font-size: 3vw;
    margin-left: 10px;
}

a{
    text-decoration: none;
    color: black;
    height: 95%;
}

.Middle{
    text-decoration: none;
}

.Blogs{
    display: flex;
    overflow-y: scroll;
}

.Entry{
    margin-top: 20px;
}

.EntryDate{
    font-size: 1.6vw;
}

.EntryTitle{
    font-size: 2.2vw;
    margin-left: 6px;
}

.EntryContent{
    font-size: 1.2vw;
    margin-left: 15px;
}

.Ccont{
    width:35%;
    display: flex;
    flex-direction: column;
}

.CcontChild{
    height: 100%;
    font-size:  5.9vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7BB377;
}

.Ccont1{
    background-color: #fff5dd6b;
    color: #7BB377;
    font-size: 5.5vw;
}

@media screen and (max-width:600px) {
    .Ccont1 { font-size: 6vh;}
  }
  @media screen and (max-width:600px) {
    #BR1 { font-size: 6vh;}
  }
  @media screen and (max-width:600px) {
    #BR2 { font-size: 6vh;}
  }


.BR1{
    font-size: 7vw;
    color: #BB41FF;
}

.BR2{
    font-size: 7vw;
    color: #BB41FF;
}

.Ccont2{
    border-bottom:4px #FFF5DD solid;
}

.Ccont3{
    
    border-top: 4px #FFF5DD solid;
}


@media screen and (max-width:600px) {
    .Ccont { width: 100%; 
    height: 350px;
    }
  }
  @media screen and (max-width:600px) {
    .Bcont { width: 100%; }
  }

  .TimeLine{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
  }

  .dot{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #7BB377;
  }

  .TimeLineLine{
    margin-left: 8px;
    width: 3px;
    height: 100%;
    background-color: #BB41FF;
  }

  @media screen and (max-width:1400px) {
    .EntryDate { font-size: 3vh; }
    .EntryTitle {font-size: 4vh;}
    .EntryContent{font-size: 2.5vh;}
    .BE {font-size: 4vh;}
  }