.ProjectsList{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}

.pr{
    display: flex;
    gap: 20px;
    border-radius: 8px;
    flex-wrap: wrap;
    padding: 50px;
}

.pr1{
    background-color: #596e80;
}   

.pr2{
    background-color: #8758a0;
}

.desc{
    font-size: 2.9vw;
    margin-left: 40px;
}

.prIMG{
    width: 450px;
    object-fit: contain;
    margin: auto;
}

@media screen and  (max-width: 800px) {
    .prIMG{ width: 200px;}
}

.ff{
    font-size: 3vw;
    margin-top: 50px;
}